* {

    margin: 0;
}

body {
    width: 820px;
    margin: auto;
    background-color: rgb(247, 224, 194);
}

h1 {

    font-size: xx-large;
    font-family: lucida;
    color: blue;
    text-align: center;
    margin: 15px 0;
}

h2 {
    margin-left: 100px;
    color: rgb(255, 0, 0);
    text-align: center;
}

p {
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    line-height: 22px;
    border: solid;
    text-align: justify;
    margin-top: 25px;
    margin-bottom: 50px;

}
 